* body ,html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header {
    width: 100%;
    height: 60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.header .logo img {
    width: 176;
    line-height: 60px;
    margin-left: 70;
}

.header nav ul li {
    display: inline-block;
    font-size: 18px;
    margin-right: 40;
}

.header nav img {
    display: none;
}

.header nav ul li a {
    text-decoration: none;
    color: black;
}

.buttonnav {
    margin-right: 70;
}

.header button {
    text-align: center;
    width: 163;
    height: 36;
    color: white;
    background-color: #312ECB;
    border-radius: 10px;
    border: none;
}

.navbutton {
    display: none;
}

.header nav ul li a:hover,
.header nav ul li a.active {
    color: #312ECB;
    text-shadow: 0 0 3px #FFF, 0 0 6px #FFF, 0 0 9px #FFF, 0 0 12px #007AFF, 0 0 15px #007AFF, 0 0 18px #007AFF, 0 0 21px #007AFF, 0 0 25px #007AFF;
}

.nav-toogle  {
    display: none;
}

.section1 {
    padding-left: 138px;
}

.section1 .content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section1 .content1 button {
    text-align: center;
    width: 187;
    height: 36;
    color: white;
    background-color: #312ECB;
    border-radius: 10px;
    border: none;
}

.section2 {
    display: flex;
    width: 100%;
    height: 605px;
    background-color: #0D1C37;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section2 .content1 {
    text-align: center;
    width: 990px;
    height: auto;
    color: white;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
}

.section2 img {
    width: 176px;
    height: 40px;
}

.section3 {
    padding-top: 71px;
}

.section3 .content1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 60px;
}

.section3 .content2 {
    display: grid;
    grid-template-columns: 433px 433px;
    justify-content: center;
    gap: 90px 80px;
    align-items: center;
}

.section3 .content2 .grid {
    width: 433px;
    height: 343px;
    border-radius: 20px;
    background-color: #0D1C37;
    padding: 30px;
    box-sizing: border-box;
    color: white;
}

.section4 {
    margin-top: 170px;
    padding-left: 138px;
    margin-bottom: 200px;
}

.section4 .content1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section4 .content1 button {
    text-align: center;
    width: 321px;
    height: 45px;
    color: white;
    background-color: #312ECB;
    border-radius: 10px;
    border: none;
}

.grid-container {
    width: 100%;
    height: 380;
    display: grid;
    grid-template-columns: auto 340px 153px 107px;
    background-color: #0D1C37;
    gap: 0 120px;
    padding-top: 75px;
    padding-left: 71px;
    padding-right: 75;
    box-sizing: border-box;
    color: white;
  }

  .grid-container img { 
    width: 268px;
    height: 52px;
  }

  .grid-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 17;
  }

  .grid-container h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15;
  }

  .copyright {
    background-color:#D9D9D9 ;
    width: 100%;
    height: 72;
    display: flex;
    justify-content: space-between;
}

.copyright p {
    font-size: 18;
    font-weight: 600;
    color: #6B717C;
    margin-top: 25;
    margin-left: 75;
}

.copyright ul li {
    display: inline-block;
    margin-left: 45;
}

.copyright .gambar {
    margin-right: 75;
}


/* responsive */

@media screen and (max-width: 1315px) {

    .grid-container {
        height: auto;
        grid-template-columns: auto auto auto auto;
    }
    .item1 {
        grid-column: 1/5;
    }
 }

@media screen and (max-width: 990px) {

    .nav-toogle {
        display: block;
        margin-right: 50;
    }

    .header nav {
        position: absolute;
        width: 40%;
        height: calc(100vh - 60vh);
        background:#007AFF;
        top: 60px;
        right: -100%;
        border: #312ECB 2px solid;
        padding: 0 10;
    }

    .navbutton {
        position: absolute;
        bottom: 10;
        display: flex;
    }

    .buttonnav {
        display: none;
    }

    .header nav.active {
        right: 0;
        overflow-x: hidden;
    }
    
    .header nav ul li {
        display: flex;
        text-align: center;
        margin-bottom: 20;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .header nav ul li a {
        color: #000000;
    }

    .header nav img {
        display: flex;
        width: 160;
        position: absolute;
        bottom: 50;
    }

    .gambar {
        display: flex;
        justify-content: center;
    }

    .section2 .content1 {
        width: 100%;
        font-size: 18px;
    }

    .section3 .content2 {
        width: 100%;
        display: grid;
        grid-template-columns: 433px;
    }

    .section4 img {
        width: 100%;
    }
 }

 @media screen and (max-width: 955px) {

    .grid-container {
        height: auto;
        grid-template-columns: auto auto auto auto;
    }
    .item1, .item2, .item3, .item4 {
        grid-column: 1/5;
    }

    .copyright p {
        display: none;
    }

    .copyright ul  {
        width: 100%;
        height: auto;
        text-align: center;
    }
 }
 
@media  screen and (max-width : 1105px ) {

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    ul li {
        font-size: 12;
    }

    .section1 {
        padding: 0;
        margin: 0;
    }
    
    .section1 .content1 {
        display: block;
        margin-top: 90;
        text-align: center;
        margin-bottom: 100;
    }

    .section1 img {
        width: 100%;
    }

    .section2 {
        padding: 0;
        margin: 0;
    }

    .section2 .content1 h2 {
        font-size: 20px;
    }

    .section4 {
        margin: 0;
        padding: 0;
    }

    .section4 img {
        width: 100%;
    }

    .section4 .content1 {
        margin-top: 100px;
        display: block;
        justify-content: center;
        text-align: center;
    }
}
